<span class="badge"><%= model.escape('numLikes') %></span>
<% if (model.like().isNew()) { %>
  <button class="btn btn-success"><span class="glyphicon glyphicon-star"></span></button>
<% } else { %>
  <button class="btn btn-danger"><span class="glyphicon glyphicon-star-empty"></span></button>
<% } %>
