<span class="badge"><%= model.escape('numLikes') %></span>
<% var glyphClassAddition = model.like().isNew() ? "-empty" : "" %>
<button class="btn btn-info">
  <span class="glyphicon glyphicon-star<%= glyphClassAddition %>"></span>
</button>
