<% if (user.get('email') === CURRENT_USER.email) { %>
  <h1 class="index-title">Your Photostream</h1>
<% } else { %>
  <h1 class="index-title">
    <%= user.escape('email') %>'s Photostream
  </h1>
  <div class="follow-container text-center"></div>
<% } %>
<div class="index photos-index"></div>
