<h1>Your Likes</h1>
<ul class="nav nav-pills">
  <li class="active" role="presentation">
    <a href="#photos-index-container" data-toggle="tab">Photos</a>
  </li>
  <li role="presentation">
    <a href="#albums-index-container" data-toggle="tab">Albums</a>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="photos-index-container clearfix tab-pane in active"
       id="photos-index-container">
    <div class="index photos-index"></div>
  </div>
  <div class="albums-index-container clearfix tab-pane"
       id="albums-index-container">
    <div class="index albums-index"></div>
  </div>
</div>
