<% if (user.albums().length) { %>
  <div class="albums-index-container">
    <%= JST['users/user_albums']({ user: user }) %>
  </div>
<% } %>
<br>
<% if (user.photos().length) { %>
  <div class="photos-index-container">
    <%= JST['users/photostream']({ user: user }) %>
  </div>
<% } %>
