<% if (user.get('email') === CURRENT_USER.email) { %>
  <h1 class="index-title">Your Albums</h1>
<% } else { %>
  <h1 class="index-title"><%= user.escape('email') %>'s Albums</h1>
<% } %>
<div class="index albums-index"></div>
