<h1>Your Likes</h1>
<% if (albums.length) { %>
  <div class="albums-index-container">
    <h1>Albums</h1>
    <div class="albums-index"></div>
  </div>
<% } %>
<br>
<% if (photos.length) { %>
  <div class="photos-index-container">
    <h1>Photos</h1>
    <div class="photos-index"></div>
  </div>
<% } %>
