<% if (user.albums().length) { %>
  <div class="user-albums"><%= JST['users/user_albums']({ user: user }) %></div>
<% } %>
<br>
<% if (user.photos().length) { %>
  <div class="photostream"><%= JST['users/photostream']({ user: user }) %></div>
<% } %>
