<form class="form-group form-horizontal">
  <textarea name="comment[body]"
            id="comment_body"
            class="form-control"><%= comment.get('body') %></textarea>
  <button class="submit btn btn-success edit-comment">Submit Changes</button>
</form>
