<form class="form-group form-horizontal">
  <button class="submit btn btn-success add-comment">Add Comment</button>
  <textarea name="comment[body]"
            id="comment_body"
            class="form-control"
            placeholder="Your comment goes here"></textarea>
</form>
