<a href="#/api/users/<%= comment.escape('user_id') %>">
  <img src="<%= comment.escape('user_avatar_url') %>"
       class="img-circle avatar-small">
  <strong><%= comment.escape('user_email') %></strong>
</a>
<form class="form-group form-horizontal">
  <textarea name="comment[body]"
            id="comment_body"
            class="form-control"><%= comment.escape('body') %></textarea>
  <button class="submit-edit btn btn-success">Submit Changes</button>
</form>
