<a href="#/api/photos/<%= photo.id %>" class="photo-link">
  <div class="photo"></div>
</a>
<p class="photo-li-text">
  <strong><%= photo.escape('title') %></strong>
  by
  <a href="#/api/users/<%= photo.escape('uploader_id') %>">
    <%= photo.escape('uploader_email') %>
  </a>
</p>
