<div class="m-background"></div>

<div class="m-content row">
  <div class="photo-modal-container">
    <button class="close">&times;</button>
    <%= JST['photos/photo_show']({ photo: photo }) %>
  </div>
</div>
