<a href="javascript:void(0)" class="photo-link">
  <div class="photo"></div>
  <p class="photo-caption">
    <strong><%= photo.escape('title') %></strong>
    by <%= photo.escape('uploader_email') %>
  </p>
</a>
