<%= render 'layouts/auth_form', action_url: users_url, user: @user %>
<h1 class="new-user-title">New to Bickr?</h1>
<div class="new-user-buttons text-center">
  <%= render 'layouts/log_in_as_guest' %>
</div>
