<nav class="header-nav clearfix">

  <h1 class="header-logo">
    <a href="#">Bickr</a>
  </h1>

  <ul class="header-list clearfix">
    <li class="header-dropdown">
      <a href="javascript:void(0)">You</a>
      <ul class="header-options">
        <li><a href="#">Photostream</a></li>
        <li><a href="#">Followed Users</a></li>
        <li><a href="#">Follow Someone Else</a></li>
      </ul>
    </li>
    <li><a href="#">Upload</a></li>
    <li><input type="text" value="Search"></li>
    <li><a href="javascript:void(0)">Your Profile</a></li>
    <li>
      <a href="/session" data-method="delete" rel="nofollow">Log Out</a>
    </li>
  </ul>

</nav>
