/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

div.thumb-container {
  display: block;
  float: left;
}

div.photo-large-container {
  display: block;
  margin: 0 auto;
}

div.thumb-container {
  position: relative;
  height: 250px;
}

div.thumb-container p {
  color: white;
  font-size: 12;
  position: absolute;
  text-shadow: 0 0 0.1em black, 0 0 0.2em black;
  bottom: 0;
  left: 25px;
  display: none;
}

div.thumb-container:hover p {
  display: block;
}

a.album-link {
  text-decoration: none;
}

.album-placeholder {
  padding: 42% 0;
  text-align: center;
  font-size: 16;
  color: black;
  background: radial-gradient(circle, white, #888);
}

.photos-index-container, .albums-index-container {
  width: 100%;
}

.albums-index-container {
  margin-bottom: 250px;
}

form .tags a.tag-link:hover {
  text-decoration: line-through;
}

ul.log-errors {
  padding-left: 0;
}

ul.log-errors > li {
  color: #800;
  font-size: 20;
  font-style: oblique;
  list-style: none;
  text-align: center;
}

form.log > div, form.log > label {
  margin-bottom: 5px;
}

.log-form-container {
  margin-top: 100px;
  border: 2px solid;
  border-radius: 25px;
  padding: 0;
}

.log-form-container > h1 {
  margin-top: 0;
}

.follow-container:not(:first-of-type) {
  display: none;
}

.m-background {
  background: rgba(80, 80, 80, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 55px;
  left: 16.7%;
  width: 66.7%;
}

.photo-modal-container {
  background-color: white;
  padding: 1pc;
  border: 2px solid;
  border-radius: 20px;
  margin: auto;
  display: table;
}
