.photos-index + .comments-index, .photo-options + .comments-index {
  margin-top: 50px;
}

ul.comments {
  list-style: none;
  padding: 0;
}

ul.comments > li {
  color: white;

  div.comment-header > .btn {
    float: right;
    margin-left: 3px;
  }

  > .comment-body {
    text-align: left;
    margin: 10px 0 20px 28px;
  }
}

ul.comments li .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.replies-index {
  padding-left: 5%;
}

.comment-form[data-id].active {
  padding-left: 5%;
}

.comment-form[data-id]:not(.active) {
  display: inline-block;
  float: right;
  margin-left: 2px;
}

div.comment-header {
  background: rgba(120, 0, 0, 0.6);
  height: 30px;
  img {
    margin-top: 3px;
  }
  a .glyphicon-user, a strong {
    vertical-align: middle;
  }
  border-radius: 30px;

  a.comment-title {
    font-size: 16px;
  }
}
