.navbar-inverse .guest-login {
  color: #f55;
  background-color: transparent;
  padding: 15px;
  line-height: 20px;
  border: 0;
  font-weight: 500;
}

.navbar-inverse .guest-login:hover {
  color: #ff9;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #f55;
}

.navbar-brand {
  font-weight: 500;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ff6;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #f97;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  color: #ffa;
}

.dropdown-menu {
  background-color: #222;
}

.dropdown-menu > li > a {
  color: #f55;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #ff6;
  background-color: #090909;
}
