// Login styles
.title-info {
  margin: 80px auto;
}

.new-user-buttons {
  * {
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    vertical-align: middle;
  }

  form {
    padding: 0;
  }
}

.log-form-container {
  background: rgba(100, 0, 0, 0.5);

  h1, label {
    color: white;
  }
}

.new-user-title {
  color: #aaa;
}
