#users {
  width: 100%;
  border-radius: 5px;

  .user-index-item {
    float: left;
    position: relative;
    background: rgba(100, 0, 0, 0.8);
    border-radius: 5px;
    padding: 20px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 2px solid transparent;

    a + p {
      margin-top: 10px;
    }

    strong {
      font-size: 16px;
      color: #abf;
    }

    strong:hover, strong:focus {
      color: #89d;
    }
  }

  img {
    display: block;
    max-width: 80%;
    max-height: 300px;
  }
}
