<a href="#/api/albums/<%= album.id %>" class="album-link">
  <div class="cover-photo"></div>
  <p class="album-li-text">
    <strong><%= album.escape('title') %></strong>
    by <%= album.escape('creator_email') %>
  </p>
</a>
