<h1><%= album.isNew() ? "Create Album" : "Edit Album" %></h1>

<ul class='form-errors'></ul>

<div class="col-xs-6 col-xs-offset-3">
  <form class="form-group form-horizontal">
    <label for="album_title" class="control-label col-xs-2">Title</label>
    <div class="col-xs-10">
      <input type="text"
             name="album[title]"
             value="<%= album.escape('title') %>"
             id="album_title"
             class="form-control"
             placeholder="Title">
    </div>

    <label for="album_description" class="control-label col-xs-2">
      Description
    </label>
    <div class="col-xs-10">
      <input type="text"
             name="album[description]"
             id="album_description"
             class="form-control"
             value="<%= album.escape('description') %>"
             placeholder="Description">
    </div>

    <br>
    <label class="control-label col-xs-2">Add Tags</label>
    <div class="tag-form col-xs-10"/>

    <br>
    <div class="tags"/>

    <div class="col-xs-offset-2 col-xs-10">
      <button class="submit btn btn-success">
        <%= album.isNew() ? "Create Album" : "Edit Album" %>
      </button>
    </div>
  </form>
</div>
