<h1 class="index-title"><%= album.escape('title') %></h1>
<h2 class="album-author">by <%= album.escape('creator_email') %></h2>
<p><%= album.escape('description') %></p>
<div class="photos-index"></div>
