<% var results = this.albums.length + this.photos.length %>
<h1>
  <%= results %> <%= results === 1 ? "result" : "results" %>
  matching <strong><%= this.query %></strong>
</h1>
<% if (this.albums.length) { %>
  <div class="albums-index-container">
    <h1>Albums</h1>
    <div class="albums-index"></div>
  </div>
<% } %>
<br>
<% if (this.photos.length) { %>
  <div class="photos-index-container">
    <h1>Photos</h1>
    <div class="photos-index"></div>
  </div>
<% } %>
