<form action="<%= session_url %>" method="POST">
  <input type="hidden"
         name="user[email]"
         value="guest@example.com">
  <input type="hidden"
         name="user[password]"
         value="password">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="submit"
         class="guest-login btn btn-large btn-success"
         value="Log in as Guest">
</form>
